body {
    background: #fff3ff;
}

.header-container h1 {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #53424c;
}

.weekdays-wrapper {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 10px;
}

/* прибрати скролл */
.weekdays-wrapper::-webkit-scrollbar {
    display: none;
}

.weekdays-list {
    list-style: none;
    padding: 5px;
    margin: 0;
    display: flex;
    gap: 10px;
    min-width: max-content;
    min-width: 100%;
}

.weekdays-list li {
    flex: 0 0 calc((100% - 7 * 10px) / 7);
    width: 60px;
    height: 50px;
    background-color: #53424c;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    cursor: default;
    user-select: none;
}

.task-container {
    padding-left: 5%;
}

.task-container h2 {
    color: #53424c;

}

.parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-task-btn {
    background-color: hwb(324 62% 3%);
    color: white;
    width: 60px;
    height: 60px;
    font-size: 40px;
    position: fixed;
    bottom: 3%;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/* modal window */

.modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(83, 66, 76, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-content {
    background-color: rgba(247, 158, 212, 0.9);
    padding: 20px;
    border-radius: 40px;
    width: 90%;
    max-width: 90%;
}


#task-form {
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#task-form button {
    height: 30px;
    width: 75px;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
    background-color: hwb(324 62% 3%);
    color: #53424c;
    font-weight: bold;
}

#task {
    border-radius: 20px;
    height: 1rem;
    text-align: center;
}

#task-list li {
    list-style-type: none;
    width: 90%;
    margin: 8px auto;
    background-color: #fbb1eefb;
    border-radius: 8px;
    border: 1px solid #53424c;
    position: relative;
    height: 40px;

}

#task-list button {
    background-color: transparent;
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: transform 0.3s ease;
}

#task-list button:hover {
    transform: scale(1.1);
}

.task-item {
    font-size: 18px;
    color: #3a3a3a;
    background-color: #f7f7f7;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-animation {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}